{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

{% for event in events.all %}
<a href="{% url 'event:main' event.pk %}">
  {% thumbnail event.background "900x450" crop="center" upscale=True as im %}
  <div class="event-top img-s" style="background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('{{ im.url }}'); background-size: cover;">
    {% endthumbnail %}
    <h1 class="event-title">{{ event.name }}</h1>
    <p class="event-title-info">Состоится {{ event.date_start|date:'d E Y' }}</p>
  </div>
</a>
{% endfor %}
{% endblock %}


