{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}


{% block content %}
{% thumbnail event.background "900x450" crop="center" upscale=True as im %}
<div class="event-top" style="background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('{{ im.url }}'); background-size: cover;">
<!--  <img src={{ im.url }} alt="Image" class="img-fluid mx-auto d-block rounded-circle" style="width: 150px; height: 150px;">-->
  {% endthumbnail %}
<!--    <img class="header-pic" src="https://ocdn.eu/pulscms-transforms/1/JypktkqTURBXy9hMmFjNTY3MDJhZjljYTNhNDM2MGRkOWFmNGM2Y2ZjMi5qcGVnkpUDAADNAoDNAWiTBc0EsM0Cdg" alt="logo">-->
    <h1 class="event-title">{{ event.name }}</h1>
    <p class="event-title-info">Состоится {{ event.date_start|date:'d E Y' }}</p>
</div>

<div class="contact">
    <span class="phone">+7 995 099 7987</span>
    <span class="phone">{{ event.author }}</span>
    <span class="phone">r.bychine@gmail.com</span>
</div>

<section class="container card-background">
    <div class="content">
        {% include 'web/includes/main_info.html' %}
    </div>
    <div class="side-bar">
        {% include 'web/includes/side_bar.html' %}
    </div>
</section>






{% endblock %}
